:root {
    --font-family: 'Roboto';
    --dark-bg-color: #1f2937;
    --blue-bg-color: #3882f6;
    --light-bg-color: #e5e7eb;

    --hero-logo-text-size: 24px;

    --hero-primary-text-color: #f9faf8;
    --hero-primary-text-size: 48px;
    --hero-primary-text-weight: 900;

    --hero-secondary-text-color: #e5e7eb;
    --hero-secondary-text-size: 18px;

    --info-header-text-color: #1f2937;
    --info-header-text-size: 36px;
    --info-header-text-weight: 900;

    --quote-text-color: #1f2937;
    --quote-text-size: 36px;
    --quote-text-weight: 300;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ----- Navigation */
.logo-wrapper {
    color: var(--hero-primary-text-color);
    font-size: var(--hero-secondary-text-size);
    font-weight: var(--hero-primary-text-weight);
    cursor: pointer;
}

.nav-wrapper {
    width: 100%;
    height: 50px;
    background-color: var(--dark-bg-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-wrapper .nav {
    display: flex;
    list-style: none;
}

.nav-wrapper .nav li a {
    padding: 12px 14px;
    text-decoration: none;
    color: var(--hero-secondary-text-color);
    transition: .2s ease;
}

.nav-wrapper .nav li a:hover {
    background-color: var(--light-bg-color);
    color: var(--info-header-text-color);
}